/designs/huanying_after_login_click.png filter=lfs diff=lfs merge=lfs -text
/designs/huanying_headed.png filter=lfs diff=lfs merge=lfs -text
/designs/huanying_loggedin.png filter=lfs diff=lfs merge=lfs -text
/designs/huanying_loggedin_full.png filter=lfs diff=lfs merge=lfs -text
/designs/huanying_login_page.png filter=lfs diff=lfs merge=lfs -text
/designs/huanying_modal_closed.png filter=lfs diff=lfs merge=lfs -text
/designs/huanying_qrcode_ready.png filter=lfs diff=lfs merge=lfs -text
/designs/huanying_scroll1.png filter=lfs diff=lfs merge=lfs -text
/designs/huanying_scroll2.png filter=lfs diff=lfs merge=lfs -text
/designs/huanying_wechat_qrcode.png filter=lfs diff=lfs merge=lfs -text
/designs/huanying_zoom1.png filter=lfs diff=lfs merge=lfs -text
/docs/references/huanying_xingkong/area_top.png filter=lfs diff=lfs merge=lfs -text
/docs/references/huanying_xingkong/canvas_top.png filter=lfs diff=lfs merge=lfs -text
/docs/references/huanying_xingkong/overview_full.png filter=lfs diff=lfs merge=lfs -text
/docs/references/huanying_xingkong/page01.png filter=lfs diff=lfs merge=lfs -text
/docs/references/huanying_xingkong/page_detail.png filter=lfs diff=lfs merge=lfs -text
/docs/references/huanying_xingkong/play_mode.png filter=lfs diff=lfs merge=lfs -text
/docs/references/huanying_xingkong/presentation_mode.png filter=lfs diff=lfs merge=lfs -text
/docs/references/huanying_xingkong/selected.png filter=lfs diff=lfs merge=lfs -text
/docs/references/huanying_xingkong/zoomed_top.png filter=lfs diff=lfs merge=lfs -text
/docs/运营后台设计方案.md filter=lfs diff=lfs merge=lfs -text
/docs/头号空间-产品设计文档-v1.0.md filter=lfs diff=lfs merge=lfs -text
